# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
*.py[cod]

# Virtual env
.env
.venv/
venv/
backend/.env
backend/venv/

# 🌐 Node.js + Vite
frontend/node_modules/
frontend/dist/
frontend/.env

#  System files
.DS_Store
*.log
*.swp
.vscode/
.idea/

#Internal Docs
.doc.odt
